
.banner {
    background-image: url('../images/top_image_8.jpg');
}

.nav {
    display: flex;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

.content-menu ul li a {
    font-size: 15px;
    padding: 20px 35px;
    color: rgba(74, 74, 74, .7);
    display: block;
    padding-left: 0;
    font-weight: 600;
}

.content-menu ul li a:hover {
    color: #236fb6;
}

.content-menu .nav .page_menu {
    display: none;
}

.content-menu .nav .page_menu button {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.block_wrap {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.content-2, .content-menu {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.content-2 {
    padding: 35px 0px;
    display: grid;
    grid-template-columns: 0.775fr 0.225fr;
    column-gap: 30px;
}

.content-2-right-box {
    margin-top: 30px;
}

.content-2 p, .content-2-right-box a {
    width: 97%;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4a4a4a;
    opacity: 0.8;
    overflow: hidden;
    padding: 7px 0px;
}

.content-2 .content-2-left p {
    max-height: 53px;
}

.content-main-2-title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #4a4a4a;
}

.content-2-left-top {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.content-2-left-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#nav-left-bottom {
    display: flex;
}

#nav-left-bottom li {
    padding: 10px;
}

.content-2-left-box a img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.content-main-2-title:hover {
    color: #236fb6;
}

.form-search {
    width: 100%;
    border: 1px solid rgb(165, 165, 165);
    padding-left: 5px;
    border-radius: 3px;
}

.form-search i {
    padding-left: 5px;
    width: 18px;
}

.content-2-right input {
    padding: 5px;
    outline: none;
    border: none;
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .content-2, .content-menu {
        width: 1100px;
    }
}

@media (min-width: 993px) and (max-width: 1201px) {
    .content-2, .content-menu {
        width: 920px;
    }
}

@media (min-width: 769px) and (max-width: 994px) {
    .content-2, .content-menu {
        width: 740px;
    }
    .content-2-left-top {
        display: flex;
        flex-direction: column;
    }
    .content-2 {
        grid-template-columns: 1fr 0.5fr;
    }
}

@media (max-width: 768px) {
    .content-2 {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse !important;
        padding: 30px 20px 75px;
    }
    .content-2-left-top {
        display: flex;
        flex-direction: column;
    }
    .content-2-right-box {
        display: none;
    }
    .form-search {
        margin-bottom: 20px;
    }
    .content-menu {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 0px;
    }
    .content-menu .nav {
        display: block;
    }
    .content-menu .nav li {
        padding-left: 20px;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid #e5e5e5;
    }
    .content-menu .nav .page_menu {
        display: block;
    }
    .content-menu .nav .page_scroll {
        display: none;
    }
    .content-menu .nav .page_scroll.show {
        display: block;
    }
}