.banner {
    background-image: url('../images/top_img-product.jpg');
    background-position: center -195px;
}

.content-2, .content-3, .content-4, .content-5, .content-6, .content-7, .content-menu {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.content-2, .content-3, .content-4, .content-5, .content-6 {
    height: 389px;
    padding: 60px 0px;
    display: flex;
}

.nav {
    display: flex;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

.content-menu ul li a {
    font-size: 15px;
    padding: 20px 35px;
    color: rgba(74, 74, 74, .7);
    display: block;
    padding-left: 0;
    font-weight: 600;
}

.content-menu ul li a:hover {
    color: #236fb6;
}

.block_wrap {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.content-title {
    padding: 25px 0px 15px;
}

.content-title {
    font-size: 35px;
    font-weight: 400;
    width: 100%;
    color: #4a4a4a;
    display: inline-block;
}

.content-title-line {
    margin: auto;
    height: 1px;
    background: #e5e5e5;
    margin-top: 10px;
    position: relative;
    width: 50px;
}

.content-img {
    text-align: center;
    width: 41.666%;
    padding: 0px 15px;
}
.content-img img {
    width: 65%;
}
.content-main {
    width: 58.333%;
}
.content-icon-list {
    display: flex;
}

p.content-text {
    opacity: .8;
    font-weight: 400;
    width: 90%;
    margin-bottom: 15px;
}
.content-icon-list li {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    width: 100px;
}

.content-icon-list li a img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 15px;
}

.content-icon-list li:hover img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 14px;
}

.content-icon-list li a p {
   text-align: center;
}

.content-big {
    width: 100%;
}
.btn-job {
    background: #f0eded;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 9px 28px;
    font-weight: 500;
    display: inline-block;
    color: #4a4a4a;
}
.btn-job:hover {
    background: #EFEFEF;
}
.box-image .item img {
    width: 120px;
}
.content-7 {
    height: 300px;
}
.content-7-slider {
    margin-top: 30px;
}

.slick-arrow {
    width: 20px;
    height: 20px;
    font-size: 18px;
    border: none;
    position: absolute;
    bottom: 0;
    z-index: 5;
    left: 50%;
    transform: translate(0, 180%);
    background-color: rgba(255, 255, 255, 0);
    color: #a2a2a2;
    transition: all 0.2s linear;
}
.slick-arrow:hover {
    color: rgb(89, 89, 89);
}
.slick-prev {
    left: 48%;
}

.content-menu .nav .page_menu {
    display: none;
}
.content-menu .nav .page_menu button {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}


@media (max-width: 1266px) {
    .content-menu, .content-2, .content-3,
    .content-4, .content-5, .content-6,
    .content-7 {
        width: 1000px;
    }
    .content-img img {
        width: 75%;
    }
}
@media (max-width: 1190px) {
    .content-menu, .content-2, .content-3,
    .content-4, .content-5, .content-6,
    .content-7 {
        width: 900px;
    }
    .content-img img {
        width: 75%;
    }
}

@media (min-width: 993px) and (max-width: 1024px) {
    .content-menu, .content-2, .content-3,
    .content-4, .content-5, .content-6,
    .content-7 {
        width: 880px;
    }
    .content-img img {
        width: 75%;
    }
}

@media (max-width: 992px) {
    .content-menu, .content-2, .content-3,
    .content-4, .content-5, .content-6,
    .content-7 {
        width: 745px;
    }
    .content-img img {
        width: 85%;
    }
}



@media (max-width: 768px) {
    .content-2, 
    .content-4,  .content-6,
    .content-7 {
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .content-3, .content-5 {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .content-icon-list {
        display: inline-block;
    }
    .content-main {
        width: 80%;
        margin: 0;
    }
    .content-menu {
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    .content-img img {
        width: 100%;
    }
    .content-7 {
        padding-bottom: 90px;
    }
    .content-7-slider {
        margin-left: 45px;
    }
    .slick-prev {
        left: 42%;
    }
    .content-menu {
        position: absolute;
    }
    .content-menu .nav {
        display: block;
    }
    .content-menu .nav li {
        padding-left: 20px;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid #e5e5e5;
    }
    .content-menu .nav .page_menu {
        display: block;
    }
    .content-menu .nav .page_scroll {
        display: none;
    }
    .content-menu .nav .page_scroll.show {
        display: block;
    }
}
@media (max-width: 670px) {
    .content-icon-list li a img {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 480px) {
    .content-icon-list li a img {
        width: 50px;
        height: 50px;
    }
    .content-7-slider .slick-list {
        margin-left: -30px;
    }
    .content-icon-list.add {
        display: flex;
    }
}