
.banner {
    background-image: url('../images/top_image_7.jpg');
}

a {
    text-decoration: none;
    color: #292929;
}

.content-1, .content-2, .content-3 {
    width: 1170px;
    margin: 0 auto;
    padding: 25px 0px;
}

.content-title {
    padding: 25px 0px 15px;
}

.content-title-line {
    margin: auto;
    height: 1px;
    background: #e5e5e5;
    margin-top: 10px;
    position: relative;
    width: 50px;
}

.content-title-text {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    width: 100%;
    color: #4a4a4a;
    display: inline-block;
}

.content-1-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4a4a4a;
    opacity: 0.8;
    padding: 15px 0px;
}

.btn-job {
    background: #f0eded;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 9px 28px;
    font-weight: 500;
    display: inline-block;
    color: #4a4a4a;
}

.content-main-1, .content-main-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 2%;
}

.content-main-1-box {
    width: 100%;
}

.content-main-1-box.ytb {
    position: relative;
    transition: all 0.3s;
}

.content-main-1-box.ytb i {
    position: absolute;
    top: 33%;
    left: 40%;
    font-size: 50px;
    color: rgb(166, 164, 164);
    background-color: black;
    border-radius: 50%;
    display: none;
}

.content-main-1-box.ytb:hover #show_play {
    display: block;
}

.content-main-1-box img {
    width: 100%;
    border-radius: 6px;
}

.content-main-1-box.ytb img {
    border-radius: 0px;
}

.content-main-1-box p {
    opacity: 0.9;
    padding: 10px 0px;
}

.block_wrap {
    width: 100%;
    padding-top: 60px;
    border-bottom: 1px solid #e5e5e5;
}

.content-main-3-title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #4a4a4a;
}

.content-main-3 .box-3 .title-logo {
    color: #4a4a4a;
    font-weight: 600;
    padding: 6px 0px;
}

.content-main-3 .box-3 img {
    width: 100%;
}

.content-main-3.ourbrand {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .content-1, .content-3 {
        width: 1100px;
    }
}

@media (min-width: 993px) and (max-width: 1201px) {
    .content-1, .content-3 {
        width: 920px;
    }
    .content-main-1, .content-main-3 {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2%;
        row-gap: 2%;
    }

}

@media (min-width: 769px) and (max-width: 994px) {
    .content-1, .content-3 {
        width: 740px;
    }
    .content-main-1, .content-main-3 {
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
        row-gap: 2%;
    }
    .btn-job-f {
        margin-top: 50px !important;
        padding: 20px 0px;
    }
}

@media (max-width: 768px) {
    .content-1,.content-3 {
        width: 100%;
        padding: 10px 20px 10px 20px;
    }
    .content-main-1, .content-main-3, .content-main-3.ourbrand {
        display: flex;
        flex-direction: column;
    }
    .content-main-1-box.ytb i {
        font-size: 60px;
        left: 45%;
    }
}